@import '../../styles/base';

.basket {
  padding: 20px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  @include box;

  &__button {
    margin-top: 20px;
    align-self: flex-end;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
  }
}

