.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 30px;
  z-index: 100;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  position: relative;
}