@import '../../styles/base';

.wrapper {
  display: flex;
  width: 100%;
  height: 70vh;
  padding: 20px;
  @include box;
}

.consultType {
  font-size: 20px;
  margin-bottom: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 200px;
  padding: 0 10px;
  margin-right: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.consultation {
  margin-bottom: 16px;
  padding: 8px 8px;
  cursor: pointer;
  @include box(rgba(0, 0, 0, 0.18) 0px 2px 4px);
}

.active {
  color: green;
}