.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.name {
  font-size: 17px;
}

.date {
    color: #999;
    &::before {
      content: '•';
      margin: 0 5px;
    }
}

.text {
  font-size: 15px;
}