@import '../../styles/base';

.product {
  cursor: pointer;
  height: 280px;
  margin: 0 5px 10px 5px;
  flex-basis: calc(25% - 1em);
  @include box;
  @media (max-width: 1024px) {
    flex-basis: calc(33% - 1em);
  }
  @media (max-width: 768px) {
    flex-basis: calc(50% - 1em);
  }
}

.image {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.info {
  padding: 15px 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 18px;
  color: black;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  position: relative;
  width: 180px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 2px #b3acac;
  &__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
  }
}

.price {
  font-size: 20px;
  font-weight: 400;
  color: $price;
}
