.wrapper {
  display: flex;
  height: 100vh;
}

.typeSectionTitle {
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.types {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.type {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.productList {
  display: flex;
  padding-left: 80px;
}