.image {
}

.text {
  font-size: 20px;
}

.promo {
  font-size: 24px;
}

.more {
  color: #96095E;
  font-size: 24px;
  margin-left: 10px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  background: #FEE6FC;
  padding: 30px 60px;
  margin-top: 20px;
  border-radius: 142.5px;
}

.benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  text-align: center;
}