@import '../../styles/base';

.user {
  padding: 20px;
  height: 70vh;
  @include box;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {

  }

  &__orders {
    color: $price;
    font-size: 20px;
    cursor: pointer;
  }
}

.logout {
  color: red;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}
